.App {
    text-align: center;
    font-family: 'Aladin', cursive;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
    }
  }

  .App-header {
    background-color: #658DEA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #6D6B6B;
    background-color: #ffff;
    border-radius: 50%;
    padding: 1em 2em;
    text-decoration: none;
  }

  .ana {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
    gap: 2em;
    padding: 2em;
  }

  .card, .home-card {
    background: white;
    color: #6D6B6B  ;
    padding: 1em;
    border-radius: 8px;
    width: 25vw;
  }

  .home-card {
    width: 15vw;
  }

  .card-guess {
    background: white;
    color: #6D6B6B  ;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 2em;
  }

  .lamp{
    width: 20px;
    height: 20px;
    margin: 0.5rem;
  }
  .button, .question-button, .home-button {
    background: white;
    color: #6D6B6B  ;
    padding: 0.7rem;
    border-radius: 10rem;
    cursor: pointer;
    border: none;
    width: 15vw;
    font-family: 'Aladin', cursive;
    font-size: 1.2rem;
  }

  .question-button {
    margin-top: 0.8em;
  }

  .home-button {
    border-radius: 16rem;
    width: 12vw;
    font-size: 1.7rem;
  }

  .middle {
    padding: 0em 1em 1em 1em;
    margin: 0em 1em 1em 1em;

  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;

  }

  .text {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 18vw;
    height: 2em;
    margin: 1em 1em ;
  }

  .text2 {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 18vw;
    height: 25vh;
    margin: auto ;
  }

  input[type=text]:focus {
    border: 3px solid #fff;
  }

  .collum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }

  .progress-bar {
    height: 20px;
    width: 30vw;
    border-radius: 25px;
    /* background: linear-gradient(90deg, #FFFFFF 27.1%, rgba(255, 255, 255, 0) 27.11%); */
    border: 1px solid #FFFFFF;
  }

  textarea {
    width: 100%;
    height: 100px;
    display: block;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
