.App {
  text-align: center;
  font-family: 'Aladin', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  background-color: #658DEA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6D6B6B;
  background-color: #ffff;
  border-radius: 50%;
  padding: 1em 2em;
  text-decoration: none;
}

.ana {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  justify-items: center;
  gap: 2em;
  padding: 2em;
}

.card {
  background: white;
  color: #6D6B6B  ;
  padding: 1em;
  border-radius: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
